RewriteEngine on

Options +FollowSymlinks

RewriteBase /
RewriteRule ^tintuc.html?(.*)$ index.php?act=tintuc&link=$1

RewriteRule ^tag-([a-z-]*) index.php?act=xhome&tag=$1

RewriteRule ^v([0-9]*)([a-zA-Z-]*)\.html$ index.php?act=page&pid=$1&t=$2

RewriteRule ^sim-so-dep-([a-z]*).html index.php?act=NHsimsodep&cid=$1

RewriteRule ^sim-so-dep-gia-re-viettel-mobifone-vinaphone-([0-9]*)-(.*)\.html index.php?act=news&newid=$1&link=$2

RewriteRule ^taibangso-([a-zA-Z-]*).html index.php?act=taibangso&sloai=$1

RewriteRule ^dat-mua-sim-([0-9-]*)-cid([0-9]*).html index.php?act=datmuasim&sosim=$1&cid=$2

RewriteRule ^dat-mua-sim-so-dep-([0-9-]*).html index.php?act=datmuasim&sosim=$1

RewriteRule ^them-sim-([0-9]*) aindex.php?act=cart&sid=$1

RewriteRule ^thongtindathang.html index.php?act=buyinfo

RewriteRule ^chontheokieu_([a-z-]*).html index.php?act=timtheokieu&kieu=$1

RewriteRule ^dat-mua-sim-so-dep.html index.php?act=datsim

RewriteRule ^tim-kiem-sim-so-dep-([0-9A-Za-z]*)-([0-9.\,/]*)-([0-9.\,/]*)-([0-9.\*/]*)-([0-9]*).html index.php?act=search&smang=$1&sgiatu=$2&sgiaden=$3&Textsim=$4&tongnut=$5

RewriteRule ^tim-kiem-sim-so-dep-([0-9A-Za-z]*)-([0-9.\,/]*)-([0-9.\,/]*)-([0-9.\*/]*)-([0-9]*)-Trang-([0-9]*).html index.php?act=search&smang=$1&sgiatu=$2&sgiaden=$3&Textsim=$4&tongnut=$5&page=$6

RewriteRule ^sim-so-dep--([a-zA-Z]*).html index.php?act=sim-so-dep&sloai=$1

RewriteRule ^sim-so-dep--([a-zA-Z]*)-Trang-([0-9]*).html index.php?act=sim-so-dep&sloai=$1&page=$2

RewriteRule ^sim-so-dep-([a-zA-Z]*)-([a-zA-Z-]*).html index.php?act=sim-so-dep&smang=$1&sloai=$2

RewriteRule ^sim-so-dep-([a-zA-Z]*)-([a-zA-Z-]*)-Trang-([0-9]*).html index.php?act=sim-so-dep&smang=$1&sloai=$2&page=$3

RewriteRule ^Sim-([a-zA-Z]*).html$ index.php?act=sim-so-dep&smang=$1

RewriteRule ^Sim-([a-zA-Z]*)-Trang-([0-9]*).html$ index.php?act=sim-so-dep&smang=$1&page=$2

RewriteRule ^M-([a-zA-Z]*)-([a-zA-Z-]*)\.html$ index.php?act=sim-so-dep&smang=$1&sloai=$2

RewriteRule ^M-([a-zA-Z]*)-([a-zA-Z-]*)-Trang-([0-9]*)\.html$ index.php?act=sim-so-dep&smang=$1&sloai=$2&page=$3

RewriteRule ^([a-zA-Z-]*)\.html$ index.php?act=sim-so-dep&sloai=$1

RewriteRule ^([a-zA-Z-]*)-Trang-([0-9]*)\.html$ index.php?act=sim-so-dep&sloai=$1&page=$2

RewriteRule ^dauso-([0-9]*)-Trang([0-9]*)\.html index.php?act=sim-so-dep&sdauso=$1&page=$2

RewriteRule ^Sim-So-Dep-([0-9]*)\.SimSoDep$ index.php?page=$1

RewriteRule ^dau-so-([0-9]*)\.html index.php?act=sim-so-dep&sdauso=$1

RewriteRule ^ho-tro-khach-hang.support$ index.php?act=hotro

RewriteRule ^ho-tro-khach-hang.support([0-9]*) index.php?act=hotro&sid=$1

RewriteRule ^xemphongthuy.sodep index.php?act=phongthuy

RewriteRule ^Lien-He index.php?act=lienhe

#php_value memory_limit 128M