
<form method="post" action="">
<div align="center">
<table style="width: 70%" cellspacing="0" cellpadding="0">
	<tr>
		
		<td>
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td>
										<img alt="" src="../images/bgd1.gif" /></td>
				<td class="style18x"><strong>Đổi mật khẩu&nbsp;</strong></td>
				<td>
										<img alt="" src="../images/bgd2.gif" /></td>
			</tr>
		</table>
		</td>
		
	</tr>
	<tr>
		<td class="bo2">
		<table style="background-color:#EBEBEB; width:100%" cellspacing="1" cellpadding="0">
			<tr class="b2">
				<td style="width: 50%; height: 22px; padding-left:50px;" align="left">Mật khẩu 
				hiện tại:</td>
				<td style="width: 50%; height: 22px; padding-left:50px;" align="left">
				<input name="password" type="password" align="left">&nbsp;</td>
			</tr>
			<tr class="b1">
				<td style="width: 50%; height: 22px; padding-left:50px;" align="left">Mật khẩu mới:</td>
				<td style="width: 50%; height: 22px; padding-left:50px;" align="left">
				<input name="password1" type="password">&nbsp;</td>
			</tr>
			<tr class="b2">
				<td style="width: 50%; height: 22px; padding-left:50px;" align="left">
				<span class="style1">Nhập lại mật khẩu mới:</span></td>
				<td style="width: 50%; height: 22px; padding-left:50px;" align="left">
				<input name="password2" type="password" align="left"></td>
			</tr>
			<tr class="b1">
				<td style="height: 22px" class="dv" colspan="2">
				<input class="go" name="submit" type="submit" value="Submit">&nbsp;<input class="go" name="Reset1" type="reset" value="Reset"></td>
			</tr>
			<tr class="menucx">
				<td style="height: 22px" class="style28" colspan="2">&nbsp;</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</div>
</form>
