

<form method="post" action="">
<div align="center">
	<table style="width: 70%" cellspacing="0" cellpadding="0">
		<tr>
			
			<td>
			<table style="width: 100%" cellspacing="0" cellpadding="0">
				<tr>
					<td>
										<img alt="" src="../images/bgd1.gif" /></td>
					<td class="style18x"><strong>Đổi thông tin cá nhân</strong></td>
					<td>
										<img alt="" src="../images/bgd2.gif" /></td>
				</tr>
			</table>
			</td>
			
		</tr>
		<tr class="bo2">
			<td class="bo2">
			<table style="width: 100%; background-color:#EBEBEB" cellspacing="1" cellpadding="0">
				<tr class="b2">
					<td class="left50px" style="width: 50%">Họ Và Tên:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[hovaten]" type="text" value="{$hovaten}" style="height: 15px" /></td>
				</tr>
				<tr class="b1">
					<td class="left50px" style="width: 50%">Địa chỉ:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[diachi]" type="text" style="width: 170px" value="{$diachi}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Mobile:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[mobile]" type="text" style="width: 107px" value="{$mobile}" /></td>
				</tr>
				<tr class="b1">
					<td class="left50px" style="width: 50%">Tel:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[tel]" type="text" style="width: 107px" value="{$tel}" />&nbsp;</td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Fax:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[fax]" type="text" style="width: 107px" value="{$fax}" /></td>
				</tr>
				<tr class="b1">
					<td class="left50px" style="width: 50%">Website:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[website]" type="text" value="{$website}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Email:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[email]" type="text" value="{$email}" /></td>
				</tr>
				<tr class="b1">
					<td class="left50px" style="width: 50%">CMNND:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[cmtnd]" type="text" style="width: 107px" value="{$cmtnd}" /></td>
				</tr>
				<tr class="b1">
					<td colspan="2">
					<div align="center">
					<input name="submit" type="submit" value="Submit" class="go" />&nbsp;<input name="Reset1" type="reset" value="Reset" class="go" /></div></td>
				</tr>
				<tr class="menucx">
					<td colspan="2">&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</div>
</form>
