<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hệ thống dành cho đại lý</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="../ajax.js" type="text/javascript">
</script>
</head>

<body>

<form method="post" action="" onsubmit="return checktext();">
		<input type="hidden" name="po[trangthai]" value="2"  />
		<input type="hidden" name="post[nid]" value="{$nid}"/>	
<div align="center">
<table style="width: 100%" cellspacing="0" cellpadding="0">
	<tr>
		
		<td>
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td>
										<img alt="" src="../images/bgd1.gif" /></td>
				<td class="style18x"><strong>Thông tin</strong></td>
				<td>
										<img alt="" src="../images/bgd2.gif" /></td>
			</tr>
		</table>
		</td>
		
	</tr>
	<tr>
		<td class="bo2">
		<form method="post" action="?act=dathangthanhcong&cid={$cid}" onsubmit="return checkdk()">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="menu2">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 213px">
										<img alt="" src="../images/bg1.gif" width="20" height="22" /></td>
				<td class="mainbg"><span style="color:white"><strong>Chi tiết đơn đặt hàng</strong></span></td>
				<td>
										<img alt="" src="../images/bg2.gif" width="20" height="22" /></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="timb">
		<table border="0" width="100%" cellspacing="1" bgcolor="#C0C0C0">
			<tr>
				<td bgcolor="#FFFFFF">
				<table style="width: 100%; " cellspacing="1" class="b2">
					<tr style="text-align: center; font-weight: 700">
						<td class="cl30" style="width: 50%; text-align: left;">Số sim</td>
						<td style="width: 50%; text-align: left;" class="cl30">
						Giá bán</td>
					</tr>
					<tr style="text-align: center; font-weight: 700" class="b2">
						<td class="b2" style="width: 50%; text-align: left;">{$sosim}</td>
						<td style="width: 50%; text-align: left;" class="b2">
						{$giaban}</td>
					</tr>
					<tr>
						<td class="cl30" style="width: 50%">&nbsp;</td>
						<td style="width: 50%" class="cl30">
						&nbsp;</td>
					</tr>
					<tr>
						<td class="cl30" style="width: 50%; text-align: left;">Họ và Tên: </td>
						<td style="width: 50%; text-align: left;" class="cl30">
						{$hovaten}</td>
					</tr>
					<tr>
						<td class="cl30" style="width: 50%; text-align: left;">Địa chỉ: </td>
						<td style="width: 50%; text-align: left;" class="cl30">
						{$diachi} {$city}</td>
					</tr>
					<tr>
						<td class="cl30" style="width: 50%; text-align: left;">Số di động: </td>
						<td style="width: 50%; text-align: left;" class="cl30">
						{$mobile}</td>
					</tr>
					{if $tel}
					<tr>
						<td class="cl30" style="width: 50%; height: 21px; text-align: left;">Số máy bàn: </td>
						<td style="width: 50%; height: 21px; text-align: left;" class="cl30">
						{$tel}</td>
					</tr>
					{/if}
					{if $email}
					<tr>
						<td class="cl30" style="height: 29px; width: 50%; text-align: left;">Email: </td>
						<td style="height: 29px; width: 50%; text-align: left;" class="cl30">
						{$email}</td>
					</tr>
					{/if}
					{if $text}
					<tr>
						<td colspan="2" class="dvc">
						
							Thông tin kèm theo</td>
					</tr>
					<tr>
						<td colspan="2" class="dvc">
						
							{$text}</td>
					</tr>
					{/if}
					</table>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</td>
	</tr>
	<tr>
		<td class="bo2">
		<table style="background-color:#EBEBEB; width:100%" cellspacing="1" cellpadding="0">
		{section name=d loop=$data}
			<tr class="{$data[d].class}">
				<td style="height: 22px" class="dv">
						<fieldset name="Group1">
									<legend>Nguyên Văn Bởi: {$data[d].user}&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp; Viết 
		{$data[d].time}&nbsp; {if $admin == 1} <a href="aindex.php?{$c_url}&del={$data[d].id}"> Xóa </a> {/if}</legend>
		<div align="left" >
		{$data[d].text}
		</div>
		</fieldset>
		</td>
			</tr>
			{/section}
			<tr class="b1">
				<td style="height: 22px" class="dv"><div class="dv">
					</div>
</td>
			</tr>
			<tr class="menucx">
				<td style="height: 22px" class="style28">	
</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</div>
</form>
</body>
</html>

