<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administrator</title>
<link rel="stylesheet" type="text/css" href="../style.css" />
<script type="text/javascript"  language="javascript" src="../ajax.js" ></script>
<link type="text/css" href="../css/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript"  language="javascript" src="admin.js" ></script>

</head>

<body>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>Sửa giao dịch</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
			<form method="post" action="">
			<table style="width: 100%;" cellspacing="1" cellpadding="0">
				<td colspan="2">
						<div align="center" class="bo">
							<b>Bộ gõ tiếng việ</b>t<input onfocus="setTypingMode(0)" type="radio" CHECKED value="OFF" name="switch" />Tắt&nbsp;&nbsp;&nbsp;
							<input class="bvclass" onfocus="setTypingMode(1)" type="radio" value="TELEX" name="switch" />Bật</div>
</td>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Họ Và Tên:</td>
					<td class="left50px" style="width: 50%">
					<input onkeyup="initTyper(this);" name="post[hovaten]" type="text" value="{$hovaten}" style="height: 15px" /></td>
				</tr>
				<tr>
					<td class="left50px" style="width: 50%">Địa chỉ:</td>
					<td class="left50px" style="width: 50%">
					<input onkeyup="initTyper(this);" name="post[diachi]" type="text" style="width: 170px" value="{$diachi}" /></td>
				</tr>
				<tr>
					<td class="left50px" style="width: 50%">Mobile:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[mobile]" type="text" style="width: 107px" value="{$mobile}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Tel:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[tel]" type="text" style="width: 107px" value="{$tel}" />&nbsp;</td>
				</tr>
				<tr>
					<td class="left50px" style="width: 50%; height: 23px;">Ngày:</td>
					<td class="left50px" style="width: 50%; height: 23px;">
					<input name="post[ngay]" style="width: 107px" value="{$ngay}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%; height: 23px;">Số 
					sim:</td>
					<td class="left50px" style="width: 50%; height: 23px;">
					<input name="post[sosim]" style="width: 107px" value="{$sosim}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Giá nhập:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[gianhap]" style="width: 107px" value="{$gianhap}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Giá bán:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[giaban]" style="width: 107px" value="{$giaban}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Hoa hồng:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[hoahong]" style="width: 107px" value="{$hoahong}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Phí khác:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[phikhac]" style="width: 107px" value="{$phikhac}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Đại lý:</td>
					<td class="left50px" style="width: 50%">
					<select name="post[daily]">
					{html_options values=$xvalue output=$xname selected=$xselect}
					</select>&nbsp;</td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%">Xóa:</td>
					<td class="left50px" style="width: 50%">
					<input name="post[xoa]" style="width: 32px" value="{$xoa}" /></td>
				</tr>
				<tr class="b2">
					<td class="left50px" style="width: 50%; height: 23px;">Trạng 
					thái:</td>
					<td class="left50px" style="width: 50%; height: 23px;">
					<input name="post[trangthai]" style="width: 32px" value="{$trangthai}" /></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center">
					<input name="submit" type="submit" value="Cập nhập" class="go" />&nbsp;<input name="Reset1" type="reset" value="Làm lại" class="go" /><input name="id" value="{$id}" type="hidden"></td>
				</tr>
				</table>
			</form>
</div></div>

</body>
</html>
