
<form method="get" action="">
<input name="act" value="khachhang" type="hidden">
<div align="center">
	<table style="width: 70%" cellspacing="0" cellpadding="0">
		<tr>
			
			<td>
			<table style="width: 100%" cellspacing="0" cellpadding="0">
				<tr>
					<td>
										<img alt="" src="../images/bg1.gif" /></td>
					<td class="mainbg"><strong>Khách hàng tiêu biểu</strong></td>
					<td>
										<img alt="" src="../images/bg2.gif" /></td>
				</tr>
			</table>
			</td>
			
		</tr>
		<tr>
			<td class="bo2">

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<table style="width: 100%">
			<tr>
				<td style="text-align: left"><input name="text" type="text">&nbsp;<input name="search" type="submit" value="Tìm kiếm" class="go"></td>
				<td style="width: 10%">
				<input onclick="window.location.href='?act=thanhvienadd'" name="Button1" type="button" value="Thêm Mới" class="go">&nbsp;</td>
			</tr>
		</table>
		<table border="0" width="100%" id="table2" bgcolor="#EBEBEB" cellspacing="1">
			<tr class="chucam">
				<td width="4%" height="20" align="center" class="style10">
				<p align="center" style="font-weight: 700">STT</td>
				<td width="19%" height="20" class="style10"><b>Họ và tên</b></td>
				<td width="16%" height="20" class="style10">Mobile</td>
				<td width="16%" height="20" class="style10">Username</td>
				<td width="16%" height="20" class="style10">Email</td>
				<td width="6%" align="center" height="20" class="style10" colspan="3" style="width: 15%"><b>
				HĐ</b></td>
			</tr>
			{section name=d loop=$data}
			<tr class="{$data[d].class}">
				<td width="4%" height="20" align="center">{$data[d].stt}</td>
				<td width="19%" height="20">
				{$data[d].hovaten}</td>
				<td width="16%" height="20">
				{$data[d].mobile}</td>
				<td width="16%" height="20">
				{$data[d].username}</td>
				<td width="16%" height="20">
				{$data[d].email}</td>
				<td width="6%" align="center" height="20">
				{if $data[d].gol == 0}
				<a href="?{$c_url}&amp;active={$data[d].gol}&amp;id={$data[d].id}">
				No</a>
				{else}
				<a href="?{$c_url}&amp;active={$data[d].gol}&amp;id={$data[d].id}">
				Yes</a>
				
				{/if}
				</td>
				<td width="6%" align="center" height="20">
				<a href="?act=thanhvienedit&amp;id={$data[d].id}">Sửa</a></td>
				<td width="7%" align="center" height="20">
				<a  href="?{$c_url}&delid={$data[d].id}" onclick="return conf('{$data[d].tieude}')">Xóa</a></td>
			</tr>
			{/section}
			<tr class="{$data[d].class}">
				<td height="20" align="center" colspan="8">{$paging}</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</td>
</tr>
</table>
</div>

