
<form method="post" action="">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">
		<a>Quản lý menu </a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td height="20">&nbsp;</td>
	</tr>
	<tr>
		<td>
		<table border="0" width="100%" id="table2" cellspacing="1">
			<tr class="ui-widget-header" style="height:30px">
				<td width="4%" height="20"align="center">
				<p align="center" style="font-weight: 700" >STT</td>
				<td width="19%" height="20"><b>&nbsp;Menu name</b></td>
				<td width="21%" height="20"><b>Modules</b></td>
				<td width="16%" height="20"><b>Oder</b></td>
				<td width="6%" align="center" height="20"><b>Sửa</b></td>
				<td width="7%" align="center" height="20"><b>Xóa</b></td>
			</tr>
			{section name=d loop=$data}
			<tr class="{$data[d].class}">
				<td width="4%" align="center" style="height: 22px">{$data[d].stt}</td>
				<td width="19%" class="left50px" style="height: 22px">
				<a href="?act=menu&amp;id={$data[d].mid}">{$data[d].menu}</a></td>
				<td width="21%" class="left50px" style="height: 22px">{$data[d].mmd}</td>
				<td width="16%" style="height: 22px">{$data[d].moder}</td>
				<td width="6%" align="center" style="height: 22px">
				<a href="?act=menuedit&id={$data[d].mid}">Sửa</a></td>
				<td width="7%" align="center" style="height: 22px">
				<a  href="?{$c_url}&del={$data[d].mid}" onclick="return conf('{$data[d].menu}')">Xóa</a></td>
			</tr>
			{/section}
			<tr>
				<td align="center" colspan="6" style="height: 22px">{$paging}</td>
			</tr>
			</table>
		<p>
		<input onclick="window.location.href='?act=menuadd&gr={$gid}'" type="button" value="Thêm mới" name="B1" class="go"></td>
	</tr>
</table>
</div></div>
