
<form method="post" action="">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">
		<a>Quản lý tin tức </a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td height="20">
		<table style="width: 100%">
			<tr>
				<td style="width: 689px">&nbsp;</td>
				<td style="width: 12%">
				<input onclick="window.location.href='?act=newsadd&domains={$indexd}'" name="Button1" type="button" value="Thêm M&#7899;i" class="go">&nbsp;</td>
				<td style="width: 12%">
				<input name="submit" type="submit" value="C&#7853;p nh&#7853;p" class="go">&nbsp;</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<table border="0" width="100%" id="table2" cellspacing="1">
			<tr class="ui-widget-content">
				<td width="4%" height="20" align="center">
				<p align="center"><b>STT</b></td>
				<td width="19%" height="20"><b>B&#7843;n tin</b></td>
				<td width="16%" height="20"><b>S&#7855;p X&#7871;p</b></td>
				<td width="6%" align="center" height="20"><b>S&#7917;a</b></td>
				<td width="7%" align="center" height="20"><b>Xóa</b></td>
			</tr>
			{section name=d loop=$data}
			<tr class="{$data[d].class}" style="height:22px">
				<td width="4%" height="20" align="center">{$data[d].st}</td>
				<td width="19%" height="20" class="left50px">
				{$data[d].tieude}</td>
				<td width="16%" height="20">
				<input name="pot[{$data[d].id}]" type="text" style="width: 34px" value="{$data[d].stt}"></td>
				<td width="6%" align="center" height="20">
				<a class="go" href="?act=newsedit&editid={$data[d].id}">S&#7917;a</a></td>
				<td width="7%" align="center" height="20">
				<a class="go"  href="?{$c_url}&delid={$data[d].id}" onclick="return conf('{$data[d].tieude}')">Xóa</a></td>
			</tr>
			{/section}
			<tr class="{$data[d].class}">
				<td height="20" align="center" colspan="5">{$paging}</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
</div></div>
