<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 3</title>
</head>

<body>

<form method="post" action="aindex.php?act=taive">
		<div style="text-align: center">
				<select name="daily">
				<option value="0" selected="">Xem theo đại lý</option>
				{html_options values=$xvalues output=$xnames}</select>
				<input name="submit" type="submit" value="Tải về" /></div>
</form>

</body>

</html>
