<form target="_parent" method="post" action="index.php?act=dathangthanhcong&cid={$cid}" onsubmit="return checkdk()">

							<input name="dhmd5" type="hidden" style="width: 185px; height: 28px" value="{$dhmd5}" />

							<input name="maxacthuc2" type="hidden" style="width: 185px; height: 28px" value="{$maxt}" />

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">

	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">

		<a>Đặt hàng thành công!</a></li>

	</ul>

	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">

			

		<table border="0" width="100%" cellspacing="1">

			<tr>

				<td  style="height: 311px" valign="top">

				<table style="width: 100%; " cellspacing="0" cellpadding="0">

					<tr>

						<td colspan="2">

						

						

						<table style="width: 100%" cellspacing="1">

							<tr>

								<td class="dv" style="height: 22px; width: 50%;"><strong>Số 

								sim</strong></td>

								<td style="width: 50%; height: 22px" class="dv">

								<strong>Giá tiền</strong></td>

							</tr>

							{section name = d loop = $data}

							<tr >

								<td style="height: 22px; width: 50%; font-size: medium; color: #006FDD; text-align: center;"><strong>{$data[d].xsosim}</strong></td>

								<td style="width: 50%; height: 22px; font-size: medium; color: #006FDD; text-align: center;"><strong>{$data[d].xgiaban} 

								(VNĐ)</strong></td>

							</tr>

							{/section}

							{if $tongsim != 1}

							<tr >

								<td style="height: 22px; width: 40%;"><strong>Tổng sim 

								{$tongsim} Số</strong></td>

								<td style="width: 50%; height: 22px"><strong>Tổng tiền 

								{$tongtien} (VNĐ)</strong></td>

							</tr>

							{/if}

							</table>

					

					

</td>

					</tr>

					<tr>

						<td colspan="2" style="height: 38px; text-align: center;">

						<strong>Thông 

						tin nhận hàng</strong></td>

					</tr>

					<tr>

						<td style="width: 50%;  height: 22px;">

						<p style=" margin-left: 20px; line-height: 100%; ">

						Họ và Tên: </p>

						</td>

						<td style="width: 50%; height: 22px;">

						<p style=" margin-left: 20px; line-height: 100%; ">

						{$hovaten}</p>

						</td>

					</tr>

					<tr>

						<td style="width: 50%;  height: 22px;">

						<p style=" margin-left: 20px; line-height: 100%; ">

						Địa 

						chỉ: </p>

						</td>

						<td style="width: 50%; height: 22px;">

						<p style=" margin-left: 20px; line-height: 100%; ">

						{$diachi} {$city}</p>

						</td>

					</tr>

					<tr>

						<td style="width: 50%;  height: 22px;">

						<p style="margin-left: 20px; line-height: 100%; ">

						<span lang="en-us">

						Di động</span>: 

						</p>

						</td>

						<td style="width: 50%; height: 22px;">

						<p style="margin-left: 20px; line-height: 100%; ">

						{$dienthoai}</p>

						</td>

					</tr>

					{if $tel}

					{/if}

					{if $email}

					<tr>

						<td style="height: 22px; width: 50%; ">

						<p style="color: #000000; margin-left: 20px; line-height: 100%; ">

						Email: </p>

						</td>

						<td style="height: 22px; width: 50%">

						<p style="margin-left: 20px; line-height: 100%; ">

						{$email}</p>

						</td>

					</tr>

					{/if}

					{if $text}

					<tr>

						<td colspan="2" >

						

							<p style="line-height: 100%; margin-left: 20px">Thông tin kèm theo</p>
						</td>

					</tr>

					<tr>

						<td colspan="2"  style="height: 32px">

						

							{$text}<br />

						</td>

					</tr>

					{/if}

					<tr>

						<td colspan="2"  style="height: 82px; text-align: center;">

							{$pay}<br>

							<div id="thank" style="display:none">

							<strong>

							<span style="color: #FF00FF">Quý khách đã xác thực đơn đặt hàng 

							thành công.</span><span style="color: #FF0000"><br>

							</span><span style="color: #0066FF"><br>

							Cảm ơn quý khách đã đặt mua sim tại website <br>

							</span></strong><span style="color: #0066FF">

							<strong>Chúng tôi sẽ liên hệ với quý khách sớm nhất!</strong></span></div>

							Cảm ơn bạn đã đặt mua sim<br>
							Chúng tôi sẽ liên lạc với bạn sớm nhất</td>

					</tr>

					</table>

				</td>

			</tr>

			</table>

		</div></div>


</form>