<form target="_parent" method="post" action="index.php?act=dathangthanhcong&cid={$cid}" onsubmit="return checkdk()">
							<input name="maxacthuc2" type="hidden" style="width: 185px; height: 28px" value="{$maxt}" />
							<table border="0" width="100%" cellspacing="0" cellpadding="0" style="height: 120px">
	<tr>
		<td class="menu2">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 213px">
				<img alt="sim so dep" src="images/sk1.gif" style="width: 30px; height: 25px"></td>
				<td class="mainbg" style="color: #FFFFFF; background-image: url('images/sk2.gif')">
				<span lang="en-us"><strong>Thông báo</strong></span></td>
				<td>
										<img alt="sim so dep" src="images/sk3.gif" style="width: 33px; height: 25px"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="timb">
		<table border="0" width="100%" cellspacing="1" bgcolor="#C0C0C0" style="height: 120px">
			<tr>
				<td bgcolor="#FFFFFF" style="height: 120px" valign="top">
				<table style="width: 100%; text-align: center;" cellspacing="0" cellpadding="0">
					</table>
				<div style="text-align: center">
&nbsp;<span style="color: #FF00FF"></span><strong><span style="color: #FF0000"><br>
					Bạn đã gửi quá nhiều đơn đặt hàng trong 1 thời điểm<br>
					<br>
					</span></strong><span style="color: #FF0000"><strong>Bạn vui 
					lòng gọi điện tới số máy hỗ trợ để đặt mua qua điện thoại !</strong></span></div>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>

</form>