
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-default">
		<a>{$sosim}</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
			
				Rất tiếc <a href="http://nganhangsimsodep.com"><strong>sim so dep</strong></a>
				<strong>{$sosim} </strong>không còn trên website!<br>
				<br>
				Bạn đang tìm kiếm <a href="http://nganhangsimsodep.com">sim</a>
				<strong>{$sosim} </strong>?<br>
				<br>
				Bạn vẫn có cơ hội mua số sim <strong>{$sosim} </strong>bởi có 
				thể <a href="http://nganhangsimsodep.com">sim so</a> <strong>{$sosim}&nbsp;
				</strong>vẫn còn trong kho nhưng chúng tôi chưa đưa lên<br>
				<br>
				Cách kiểm tra thử <strong>sim số đẹp</strong> <strong>{$sosim}
				</strong><span class="style1">còn có khả năng mua được hay không<br>
				<br>
				Bạn hãy gọi trực tiếp vào số <strong>{$sosim} </strong>nếu chưa 
				đổ chuông tức khả năng mua được là 60%<br>
				<br>
				Nếu không có thông báo<span class="style2"> thuê bao quý khách 
				vừa gọi tạm thời không liên lạc được</span> khả năng mua được là 
				80%<br>
&nbsp;<br>
				Sau đó liên hệ với chúng tôi qua <strong>số</strong> 
				0937.666.886 để biết chi tiết!<br>
				<br>
				</span>
				</div></div>