<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Đăng Nhập Hệ Thống</title>
<link rel="stylesheet" type="text/css" href="style.css" />


</head>
<body>
<table style="width: 100%" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="dv">
		<form action="index.php?act=dondathang" method="post">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center">
				<strong class="chudo">{$thongbao}</strong><br/>
				<table style="width: 175px" class="bo2" cellspacing="1">
					<tr class="menu">
						<td colspan="2">Đăng Nhập</td>
					</tr>
					<tr class="b2">
						<td style="width: 50px"><span class="chucam">Username:</span></td>
						<td style="width: 50px">
						<input style="width:100px" name="username" type="text" /></td>
					</tr>
					<tr class="b2">
						<td style="width: 50px"><span class="chucam">Password:</span></td>
						<td style="width: 50px">
						<input style="width:100px" name="password" type="password" /></td>
					</tr>
					<tr class="b2">
						<td colspan="2" class="dv">
						
							<input name="submit" type="submit" value="Login" class="go" />
							<br />
							<span class="style28">
							<a href="index.php?act=quenmatkhau">Quên mật khẩu
							</a></span>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</form>
		</td>
	</tr>
</table>



</body>

</html>