
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="menu2">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 213px">
										<img alt="" src="images/bg1.gif" width="20" height="22" /></td>
				<td class="mainbg"><span style="color:white"><strong>Quên mật 
				khẩu</strong></span></td>
				<td>
										<img alt="" src="images/bg2.gif" width="20" height="22" /></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="timb">	<form method="post">
		<table border="0" width="100%" cellspacing="1" bgcolor="#C0C0C0">
			<tr>
				<td bgcolor="#FFFFFF">
				Bạn vui lòng nhập Tên đăng nhập hoặc email:<table style="width: 100%">
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table style="width: 100%">
							<tr>
								<td a align="right">
							
									<input name="user" type="text">
								</td>
								<td>
								
									<input name="submit" type="submit" value="Lấy lại mật khẩu" class="go">
								</td>
							</tr>
							<tr>
								<td a align="right" colspan="2" class="dvc">
							
									{$thongbao}&nbsp;</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
			</table>
			</form>
		</td>
	</tr>
</table>