									
										<td style="width: 7%" class="dv">{$stt}</td>
										<td style="width: 20%" class="tampx">
										<strong>{$sosim}</strong></td>
										<td style="width: 20%" class="tampx">
										{$giatien}</td>
										<td style="width: 20%" class="dv">
										<strong>{$mang}</strong></td>
										<td style="width: 15%" class="dv">
										<strong>
										<a title="Đặt mua sim - {$sosim2}" href="dat-mua-sim-{$sosim2}-cid0.html">Đặt 
										Mua</a>
										</strong></td>
										<td style="width: 3%" class="dv" valign="baseline">
										<a title="Thêm {$sosim2} vào giỏ hàng của bạn" class="example6" href="them-sim-{$sosim2}.html">
										<div id="card"></div>
										</a>
										</td>
									
