<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="menu2">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 30px">
										<img alt="sim so dep" src="images/sk1.gif" style="width: 30px; height: 25px"></td>
				<td align="left" class="style1" style="width: 932px; background-image: url('images/sk2.gif'); color: #FFFFFF;"><strong></strong></td>
				<td>
										<img alt="sim so dep" src="images/sk3.gif" style="width: 33px; height: 25px"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td style="border:1px #b3a4fa solid; border-top-style:none; height: 300px;">
		<table border="0" width="100%" cellspacing="0">
			<tr>
				<td bgcolor="#FFFFFF" style="text-align: left;">
				{$htmldata}				</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
	<td style="background-image: url('images/bgt.gif'); height:4px"></td>
	</tr>
</table>