

<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="menu2">
		<table style="width: 100%" cellspacing="0" cellpadding="0">
			<tr>
				<td style="width: 30px">
										<img alt="sim so dep" src="images/sk1.gif" style="width: 30px; height: 25px"></td>
				<td class="mainbg" style="width: 932px; background-image: url('images/sk2.gif'); color: #FFFFFF; text-align: left;"><strong>Gửi yêu cầu thành công!</strong></td>
				<td>
										<img alt="sim so dep" src="images/sk3.gif" style="width: 33px; height: 25px"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td style="border:1px solid #b3a4fa; height: 300px; text-align: left;" valign="top">
		<p style="text-align: center">Cảm ơn bạn đã gửi yêu cầu sim!</p>
		<p style="text-align: center">Chúng tôi có sim đúng yêu cầu của bạn sẽ 
		nhắn tin báo giá ngay cho bạn!</p>
		</td>
	</tr>
	<tr>
	<td style="background-image: url('images/bgt.gif'); height:4px"></td>
	</tr>
</table>